.bfm-custom{

	table{

		thead{
			border-bottom: 1px solid #e1e1e1;
		}

		th,td{
			text-align: center;
		}

	}

}

.bfm-stats-controls,
.bfm-postbox{
	padding: 20px;
}

.bfm-postbox{
	.row{
		p{
			padding: 0 20px;
		}
	}
}